<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
    <h3 class="mt-1 mb-3">Sign Up</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
 
    <div class="form-group">
      <%= f.label :email, "Email", :class => "form-label" %>
      <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
    </div>
 
    <div class="form-group">
      <%= f.label :password, "Password (%s characters minimum)"%@minimum_password_length, :class => "form-label" %>
      <%= f.password_field :password, :class => "form-control" %>
    </div>
 
    <div class="form-group">
      <%= f.label :password_confirmation, "Password confirmation", :class => "form-label" %>
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>
 
    <div class="actions">
      <%= f.submit "Sign up", :class => "btn btn-primary btn-block" %>
    </div>
    <% end %>
    <div class="mt-2">
      <%= link_to "Log in", new_user_session_path %>
    </div>
  </div>
</div>
